<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 - Au Petit Village. Tous droits réservés.</p>
      <ul class="footer-links">
        <li><a href="https://www.facebook.com/?locale=fr_FR" target="_blank"><img src="/assets/img/facebook.png"></a></li>
        <li><a href="https://www.instagram.com/" target="_blankx"><img src="/assets/img/instagram.png"></a></li>
        <li><a href="https://x.com/?lang=fr" target="_blank"><img src="/assets/img/twitter.png"></a></li>
        <li><a href="https://fr.linkedin.com/" target="_blank"><img src="/assets/img/logo-linkedin.png"></a></li>
      </ul>
    </div>
  </footer>
  
