
<section class="about">
<h1> A propos </h1>
    <h2>Bienvenue chez Au Petit Village</h2>
    <p>
      Nous sommes spécialisés dans la création de figurines inspirées des célèbres aventures
      d'Astérix et Obélix. Chaque figurine est faite à la main avec soin et souci du détail.
    </p>
    <h2>Pourquoi avoir créé Au Petit Village</h2>
    <p>Nous avons décidé de créer "Au Petit Village" car nous sommes avant tout des fans de la bande dessiné Astérix et Obélix.<br>
    De là nous est venut l'idée de fabriquer nos propre figurine de deux gaulois préférés et dans l'avenir étoffer notre offre en proposant d'autres figurines des
    différents héros de cette merveilleuse BD.<br>
    Comme nous aimons le travail bien fait, nous réalisons toutes nos figurine à la main afin que celle-ci soit toutes uniques.
    </p>
    <h2>Contact</h2>
    <p>Vous pouvez nous contacter par mail à <a href="mailto:aupetitvillage@aupetitvillage.fr">Au petit village</a><br>
    Ou à partir du formulaire ci-dessous.
    </p>
    <form name="contact" method="post">
        <ul>
                <label for="name">Nom : </label>
                <input type="text" id="name" name="user-name"/>
                <br>          
                <label for="mail">Mail : </label>
                <input type="email" id="name" name="user-mail"/>
                <br>
                <label for="message">Message : </label><br>
                <textarea id="msg" name="user-message"></textarea>
                <br>                       
                <button type="submit">Envoyer</button>
            
        </ul>

    </form>
  </section>